@font-face {
    font-family: "SIEBB";
    src: url("/fonts/SIEBB.ttf") format('ttf'), url("/fonts/SIEBB.fon") format('fon');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

@font-face {
    font-family: "SIEBRG";
    src: url("/fonts/SIEBRG.ttf") format('ttf'), url("/fonts/SIEBRG.fon") format('fon');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }