@font-face {
    font-family: "SIEBB";
    src: url("/fonts/siebb.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }

@font-face {
    font-family: "SIEBRG";
    src: url("/fonts/siebrg.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }